<div class="row contact-item">
  <div class="col-xs-8">
    <h4>{{ contact.name }}</h4>
  </div>
  <img [src]="contact.imageUrl" alt="{{ contact.name }}" />
</div>


                  <!-- <div class="cl-panel-body">
          <div class="cl-panel-body-wrapper panel panel-default">
            <h4 class="">{{ contact.name }}</h4>
            <img [src]="contact.imageUrl" alt="{{ contact.name }}" />
            <div *ngFor="let contact of contact.group" class="row">
              name on left
              <a
              class="row contact-item list-group-item clearfix"></a>
              <div class="col-xs-8">
                <h4>{{ contact.name }}</h4>
              </div>
              <div class="panel-body row media">
              image on right
                <div class="col-xs-4 text-right">
                </div>
                
              <img [src]="contact.imageUrl" alt="{{ contact.name }}" class="contact-image">
              </div>
          </div> -->