<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-12 text-right">
                <button class="btn btn-success" routerLink="new">New Contact</button>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <app-contact-item 
                *ngFor="let contactElement of contacts" 
                [contact]="contactElement">
            </app-contact-item>   
            </div>
        </div>