<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-6 text-right">
                <button class="btn btn-success">New Contact</button>
            </div>
        </div>
    </div>
    <hr>
    <div class="panel-body">
        <div class="col-xs-8">
            <app-contact-list
             *ngFor="let contact of contacts"
            [contact]="contacts"
            (click)="onContactSelected(contact)"></app-contact-list> 
                <h4>{{ contact.name }}</h4> <img [src]="contact.imageUrl" alt="{{ contact.name }}"
                    class="contact-image">
        </div>
    </div>
    <div class="col-xs-4 text-right">
        <img [src]="contact.imageUrl" alt="{{ contact.name }}" class="contact-image">
    </div>
</div>